{% extends "base.html" %}

{% block main %}
<br><br>
        <form action= "/contact" method="post">
              Name:<br>
              <input type="text" name="name"><br>
              Email:<br>
              <input type="text" name="email"><br>
              Subject:<br>
              <input type="text" name="subject"><br>
              Message:<br>
              <input type="textarea" name="message">
              
              <input type="submit" value="Send"/>
                        
        </form>
{% endblock %}